.container-notification {
    width: 100%;
    max-width: 600px;
    min-height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
    margin-block: 1rem;
    margin-bottom: auto;
    padding: 1.5rem;
    box-sizing: border-box;
}

.content {
    margin-right: 1rem;
    flex: 1
}

.container-btn {
    margin-left: auto;
}

.delete-btn {
    background-color: lightgray;
}

.delete-btn:hover {
    background-color: chocolate;
}

h4, p {
    margin: 0;
    text-align: left;
}