.container-notification {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 10px lightgray;
}

.id, .content {
    padding-inline: 2rem;
}

.container-btn {
    margin-inline: 0.5rem;
}

.delete-btn {
    background-color: lightgray;

}

h4, p {
    margin: 0;
    text-align: left;
}

.container-btn {
    margin-left: auto;
}